<<<<<<< HEAD
:root{
  --cor-primaria: #0077b6;
  --cor-laranja: #f59e0b;
  --cor-secundaria: #ffffff;
  --cor-fundo: #fdfdfd;
  --cor-terciaria: #004f70;
  --cor-texto: #333;
  --cor-cinzento: #6c757d;
  --cor-verde: #198754;
  --cor-vermelho: #dc3545;
  --font-base: 'Segoe UI', 'Helvetica Neue', sans-serif;
}

body{
  font-family: var(--font-base);
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

.btn-primary{
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.badge.bg-terciaria{
  background-color: var(--cor-terciaria);
  color: var(--cor-secundaria);
=======
:root{
  --cor-primaria: #0077b6;
  --cor-laranja: #f59e0b;
  --cor-secundaria: #ffffff;
  --cor-fundo: #fdfdfd;
  --cor-terciaria: #004f70;
  --cor-texto: #333;
  --cor-cinzento: #6c757d;
  --cor-verde: #198754;
  --cor-vermelho: #dc3545;
  --font-base: 'Segoe UI', 'Helvetica Neue', sans-serif;
}

body{
  font-family: var(--font-base);
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

.btn-primary{
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.badge.bg-terciaria{
  background-color: var(--cor-terciaria);
  color: var(--cor-secundaria);
>>>>>>> c486fefbddff1057808eae07fe5b769680fe0aae
}